@tailwind base;
@tailwind components;
@tailwind utilities;


/* import fonts */
@font-face {
  font-family: "VulfMono-Regular";
  src: url(../public/fonts/VulfMonoCode-Regular.otf);
}
@font-face {
  font-family: "VulfMono-Black";
  src: url(../public/fonts/VulfMonoCode-Black.otf);
}
@font-face {
  font-family: "VulfMono-BlackItalic";
  src: url(../public/fonts/VulfMonoCode-BlackItalic.otf);
}
@font-face {
  font-family: "VulfMono-Bold";
  src: url(../public/fonts/VulfMonoCode-Bold.otf);
}
@font-face {
  font-family: "VulfMono-BoldItalic";
  src: url(../public/fonts/VulfMonoCode-BoldItalic.otf);
}
@font-face {
  font-family: "VulfMono-Light";
  src: url(../public/fonts/VulfMonoCode-Light.otf);
}
@font-face {
  font-family: "VulfMono-LightItalic";
  src: url(../public/fonts/VulfMonoCode-LightItalic.otf);
}
@font-face {
  font-family: "VulfMono-Italic";
  src: url(../public/fonts/VulfMonoCode-Italic.otf);
}

/* custom components */
@layer components{

  .nav-icon{
    @apply  flex items-center justify-center h-10 w-20 mx-2 my-auto shadow-lg bg-surface1 text-mauve rounded-3xl
    hover:rounded-sm hover:bg-lavender hover:text-mantle
    transition-all duration-150;
  }

  .nav-tootip{
    @apply absolute w-auto p-2 m-2 min-w-max top-10 rounded-full shadow-md text-text bg-surface0 text-xs font-bold
    transition-all duration-150 scale-0 origin-top;
  }

  .portfolio-item{
    @apply flex flex-none bg-lavender w-96 h-96 ml-10 rounded-full items-center justify-center shadow-md;
  }

  .portfolio-link{
    @apply flex items-center justify-center h-10 w-32 my-auto shadow-lg bg-surface1 text-text rounded-3xl
    hover:rounded-sm hover:bg-sky hover:text-mantle
    transition-all duration-150;
  }

}
/* base css */
body{
  background-color: #24273a;
  overflow-x: hidden;
}
